@use "../scss/variable.scss" as *;

.description__panel {
    margin-bottom: 1rem;
    flex-basis: 50%;
    overflow: hidden;
    
    p {
        margin-block: 0;
    }
    .description__header{
        background-color: $color-primary;
        color: $color-tertiary;
        padding: 0.2em 1em;
        border-radius: 0.7rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        i {
            font-size: 2rem;
            cursor: pointer;
        }
    }
    .description__content {
        background-color: $grid-background;
        color: black;
        font-weight: 400;
        padding: 1rem;
        border-radius: 0.7rem;
        position: relative;
        top: -0.3rem;
        z-index: -1;
        animation: slide-in 0.5s ease-in-out;
        &.hidden {
            animation: slide-out 0.5s ease-in-out;
        }
    }
}

@keyframes slide-in {

    from {
            transform: translateY(-100%);
    }
}

@keyframes slide-out {
  to   {
        transform: translateY(-100%);
    }

}